[Desktop Entry]
Name=OrcaSlicer
Exec=AppRun %F
Icon=OrcaSlicer
Type=Application
Categories=Utility;
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
